


{% if type === 'select' %}
    <select class="form-control">
        <option value="0"></option>
        {% for option in options %}
            <option value="{{ option.identifier }}" {% if option.identifier === value.identifier %} selected="selected" {% endif %} >{{ option.label }}</option>
        {% endfor %}
    </select>
{% endif %}


{% if type === 'menuSelect' %}
    <ul class="dropdown-menu">
        <a class="btn btn-outline-secondary dropdown-toggle w-100 " data-toggle="dropdown" href="javascript:">{{ value.label }} <span class="caret"></span></a>
        <li data-identifier="0" class="dropdown-item"><a href="javascript:"></a></li>
        {% for option in options %}
            <li data-identifier="{{ option.identifier }}" class="dropdown-item"><a href="javascript:">{{ option.label }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if type === 'duration' %}
    <input type="text" class="form-control" value="{{ value.format('HH:mm') }}">
{% endif %}


