<div class="row">
    <div class="col-12" v-show="data.loading">
        <loader-c/>
    </div>
    <div class="col-12" v-show="!data.loading">
        <slot name="add">
            <div class="row">
                <div class="col-md-12">
                    <slot name="moreButton">
                    </slot>
                    <button v-if="data.addButtonDisplayed" type="button"
                            class="btn btn-secondary btn-rounded btn-fw pull-right" @click="add_.next()">
                        <i class="mdi mdi-plus"></i> {{ data.addButtonLabel }}
                    </button>
                </div>
            </div>
        </slot>
        <div class="row">
            <div class="col-12" ref="target"></div>
        </div>
    </div>
</div>

