<div class="card grid-margin">
    <div class="card-header">
        <slot name="card-header">
            <h4 class="text-center">{{data.label}}</h4>
        </slot>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12" v-if="data.loading">
                <div style="width: 50px; margin: auto;">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="col-12" v-else>
                <slot name="card-body"/>
            </div>
        </div>
    </div>
</div>
