<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav hover-animate">
        <li class="nav-item" v-for="route in routes" >
            <router-link :to="route.path" class="nav-link">
                <i v-if="route.meta.icon" :class="'fa ' + route.meta.icon"> </i>
                <span class="menu-title">{{route.meta.label}}</span>
                <i v-if="routeApiChildren(route)" :class="{'menu-arrow': true, 'rotate': match(route)}" ></i>
            </router-link>
            <b-collapse v-if="routeApiChildren(route)" :visible="match(route)" >
                <ul class="nav flex-column sub-menu" >
                    <li class="nav-item" v-for="element in routeApiChildren(route)" >
                        <router-link :to="route.path + '/' + route.children[1].path.replace(':identifier', element.identifier)" class="nav-link">
                            {{element.label}}
                        </router-link>
                    </li>
                </ul>
            </b-collapse>
        </li>
    </ul>
</nav>
