<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one" >
            <div class="row w-100">
                <div id="logo" class="col-lg-12 mx-auto text-center mb-3">
                    <img class="img-fluid" src="./img/logo_isv.png"  alt="logo" style="background: #881c25; padding:0 40px 10px; border-radius: 4px; max-height: 100px">
                </div>
                <div class="col-lg-6 mx-auto mb-lg-0 mb-5">
                    <div class="auto-form-wrapper" id="login-form">
                        <h2 class="text-center mb-4" style="margin-top:-20px;">Se connecter</h2>
                        <div class="alert alert-danger" role="alert" style="display: none" >
                            <p class="message"></p>
                        </div>
                        <form action="javascript:">
                            <div class="form-group">
                                <label class="label">Email</label>
                                <div class="input-group">
                                    <input type="text" name="username" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Mot de passe</label>
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control" placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">Connexion</button>
                            </div>
                        </form>
                        <div class="form-group d-flex justify-content-between">
                            <a href="/mon-compte/de-passe-oublie/" class="text-small forgot-password text-black">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto  ">
                    <div class="auto-form-wrapper" id="subscribe-form">
                        <h2 class="text-center mb-4" style="margin-top:-20px;">Première visite ?</h2>
                        <div class="alert alert-success" role="alert" style="display: none" >
                            <h4 class="alert-heading"><i class="fa fa-info-circle"></i> Compte activé</h4>
                            <p>Saisissez votre Email et votre mot de passe dans la zone <b>"Se connecter"</b> pour accéder à votre <b>espace IsVin</b></p>
                        </div>
                        <div class="alert alert-danger" role="alert" style="display: none" >
                            <h4 class="alert-heading"><i class="fa fa-warning"></i> <span class="title"></span></h4>
                            <p class="message"></p>
                        </div>
                        <form action="javascript:" >
                            <div class="form-group">
                                <label class="label">Email</label>
                                <div class="input-group">
                                    <input type="text" name="username" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Mot de passe</label>
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control" placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Répétez le mot de passe</label>
                                <div class="input-group">
                                    <input type="password" name="repeat-password" class="form-control" placeholder="*********">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">Activer le compte</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
