@import "vars";

.card {
  background-color: rgba(255, 255, 255, 0.93)
}

.navbar.default-layout {
  max-width: $max-width;
  margin: 0 auto;
  background: $main-color none;

  .navbar-brand-wrapper {
    background-color: $main-color;
  }
  .logo {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .img-fluid {
    max-height: 100%;
  }
}

