<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper auth auth-bg-1">
            <nav class="navbar default-layout col-12 p-0 fixed-top d-flex flex-row" style="padding: 2%">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" >
                    <a class="logo" href="javascript:">
                        <img class="img-fluid ml-2" src="./img/logo_isv.png" alt="logo">
                    </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <div class="row">
                        <div class="col-md-6">
                            <button id="logout" class="btn btn-primary btn-sm d-inline-flex">Deconnexion</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="d-flex flex-column bd-highlight mt-5">
                <div class="planning"></div>
            </div>
        </div>
    </div>
</div>
