{% macro card(title, selector) %}

{% endmacro %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper auth auth-bg-1">
            <div id="header"></div>
            <div class="d-flex flex-column bd-highlight mt-5">
                <div class="planning"></div>
            </div>
        </div>
    </div>
</div>


